<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    
    <form action="/analyze/" method="POST">
        <!--Below csrf tag is needed when using form method="POST"
        Also note '/' is needed above after '/analyze' especially for POST methods -->
        {% csrf_token %}
        <h1>Enter your text below</h1>
        <textarea name="text" id="text" cols="30" rows="10"  required></textarea> <br>
        <div class="container"> 
        <input type="checkbox" name="removepunc">Remove Punctuations <br>
        <input type="checkbox" name="capitalize">Upper Case <br>
        <input type="checkbox" name="extraspace">Remove ExtraSpace <br>
        <input type="checkbox" name="removenewline">Remove Newline <br>
        <button type="submit" name="analyze">Analyze Text</button>

        </div>

        

    </form>
    
</body>
</html>